[Unit]
Description=WierdCore Python First Boot Setup
After=multi-user.target
ConditionPathExists=!/etc/firstboot-done

[Service]
Type=oneshot
ExecStart=chmod +x /root/sh_scripts/run_hyprland.sh
ExecStart=./root/sh_scripts/run_hyprland.sh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
