[Unit]
Description=WierdCore Python First Boot Setup
After=multi-user.target
Before=graphical.target
ConditionPathExists=!/etc/firstboot-done

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /root/install.py
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
